// **************************************
// utilities/_variables.scss
// Variables for fonts, breakpoints, and colors
// **************************************

/* -------------------------
FONT VARIABLES
------------------------- */
$primary-font-stack: 'Roboto',
sans-serif;



/* -------------------------
TEXT COLOR VARIABLES
------------------------- */
$search-box-placeholder-text-color: #888;
$search-box-text-color: #555;



/* -------------------------
SEARCH BOX VARIABLES
------------------------- */
$search-box-border-color: #d9d9d9;



/* -------------------------
BREAKPOINT VARIABLES
------------------------- */
$desktop-breakpoint: 768px;